<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Order Confirmation</title>
  </head>

  <body
    style="font-size: 14px; margin: 0 auto; width: 600px; padding: 0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;"
  >
    <table
      class="table"
      cellpadding="0"
      cellspacing="0"
      style="empty-cells: hide; margin: 0 auto; padding: 15px; width: 600px"
    >
      <tr>
        <td valign="top" style="width: 600px;padding-bottom: 15px;">
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin-bottom: 15px; "
          >Hello
            {{recipientName}},</p>
        </td>
      </tr>

      <tr>
        <td valign="top" style="width: 600px;padding-bottom: 15px;">
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >We are McCollister's Auto Logistics and we have been assigned the
            transportation of your vehicle.</p>
        </td>
      </tr>

      <tr>
        <td valign="top" style="width: 600px;padding-bottom: 15px;">
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >In order to move forward with your order, we need you to review the
            information regarding your order, and provide your e-signature
            confirming that all details are correct.</p>
        </td>
      </tr>

      <tr>
        <td valign="top" style="width: 600px;padding-bottom: 15px;">
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >You will receive an email shortly with a link to that document, which
            includes a detailed overview of our services, transit schedules,
            liability, and some helpful rules and regulations for a safe and
            legal transport of your vehicle(s).</p>
        </td>
      </tr>

      <tr>
        <td valign="top" style="width: 600px;padding-bottom: 15px;">
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >If you have any questions, or if you do not receive the document in
            your email, please email us at autologistics@mccollisters.com</p>
        </td>
      </tr>

      <tr>
        <td valign="top" style="width: 600px;padding-bottom: 15px;">
          <p>Thank you,</p>
          <p>The team at McCollister's Auto Logistics</p>
          <img
            src="https://mcc-portal-assets.s3.amazonaws.com/mccollisters-auto-logistics"
            style="width: 200px;
                height: auto;"
          />
          <p><a href="tel:8888190594">(888) 819-0594</a><br
            />autologistics@mccollisters.com</p>
        </td>
      </tr>
    </table>
  </body>

</html>