<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>McCollister's Values your Opinion</title>
  </head>

  <body
    style="font-size: 14px; margin: 0 auto; width: 600px; padding: 0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;"
  >
    <table
      class="table"
      cellpadding="0"
      cellspacing="0"
      style="empty-cells: hide; margin: 0 auto; padding: 15px; width: 600px"
    >
      <tr>
        <td
          valign="top"
          style="width: 600px; margin: 0 auto; padding-bottom: 15px;"
        >
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin-bottom: 15px; "
          >Hello
            {{recipientName}},</p>
        </td>
      </tr>

      <tr>
        <td
          valign="top"
          style="width: 600px; margin: 0 auto;  padding-bottom: 15px;"
        >
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >Thank you again for the opportunity to transport your vehicle(s)
            through our partnership with Graebel (MMI).</p>
        </td>
      </tr>

      <tr>
        <td
          valign="top"
          style="width: 600px; margin: 0 auto;  padding-bottom: 15px;"
        >
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >
            Within the next few days, Graebel (MMI) or your employer will be
            sending out a survey via email asking you to share your experience
            in working with us here at McCollister's.
          </p>
        </td>
      </tr>

      <tr>
        <td
          valign="top"
          style="width: 600px; margin: 0 auto;  padding-bottom: 15px;"
        >
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >
            <strong><em>It would mean the world to us if you could take a few
                moments to complete that survey and hopefully give us a perfect
                score!</em></strong>
            In addition, feel free to share any pics of your experience with us,
            as we love seeing interactions with our assigned drivers and
            customers.
          </p>
        </td>
      </tr>

      <tr>
        <td
          valign="top"
          style="width: 600px; margin: 0 auto;  padding-bottom: 15px;"
        >
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >
            If for some reason you feel that you could not give us a perfect
            score, please do reach out to me personally via my email below and
            let me know what was lacking in your experience. We strive to be
            perfect every time, but know that in today's challenging world of
            logistics, things don't always go according to plan and we try our
            best to work through those issues with our valued customers.
          </p>
        </td>
      </tr>

      <tr>
        <td
          valign="top"
          style="width: 600px; margin: 0 auto;  padding-bottom: 15px;"
        >
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >We do take customer service very seriously here at McCollister's and
            your feedback is invaluable to us and allows our partner Graebel
            (MMI) and your employer to know they are working with a "Blue Chip"
            quality provider in McCollister's.</p>
        </td>
      </tr>

      <tr>
        <td
          valign="top"
          style="width: 600px; margin: 0 auto;  padding-bottom: 15px;"
        >
          <p
            style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.4; margin: 0; "
          >Thank you in advance for your participation and we wish you the best,</p>
        </td>
      </tr>

      <tr>
        <td
          valign="top"
          style="width: 600px;padding-bottom: 15px;margin: 0 auto;"
        >
          <p>Thank you,</p>
          <p>The team at McCollister's Auto Logistics</p>
          <img
            src="https://mcc-portal-assets.s3.amazonaws.com/mccollisters-auto-logistics"
            style="width: 200px;
                height: auto;"
          />
          <p><a href="tel:8888190594">(888) 819-0594</a><br
            />autologistics@mccollisters.com</p>
        </td>
      </tr>

    </table>
  </body>

</html>
